#Australia Post Visa Tray Label System - Ver:
3v1-850
#Label Plan File

#Label Plan Header
Unaddressed Mail_U0496132,Salmat (NSW),0287632128,NSW,U0496132,1

#Label Details
#Service,Sort_Plan_Type,Sort_Plan,Destination_Ind,Mail_Size,Label_Qty,Date,Additional_Text
U,3,2138,0,L,2,18-JAN-16,T1/4 A41
U,3,2135,2,L,2,18-JAN-16,T2/4 A200
U,3,2135,2,L,2,18-JAN-16,T3/4 A89
U,3,2138,1,L,2,18-JAN-16,T4/4 A117
#End Of File