#Australia Post Visa Tray Label System - Ver:
3v1-850
#Label Plan File

#Label Plan Header
Unaddressed Mail_U0496217,Salmat (NSW),0287632128,NSW,U0496217,1

#Label Details
#Service,Sort_Plan_Type,Sort_Plan,Destination_Ind,Mail_Size,Label_Qty,Date,Additional_Text
U,3,2353,0,L,2,18-JAN-16,T1/2 A22
U,3,2352,0,L,2,18-JAN-16,T2/2 A13
#End Of File